<div class="row">
    <!-- left slide bar-->
    <div ng-include="'views/leftbar.html'"></div>
    <div class="mid-content col-sm-8">
        <div ng-include="'views/notice.html'"></div>
        <!-- To be filled part Start-->
        <div class="" data-ng-controller="OrganizationCtrl">
            <div class="panel panel-default">
                <div class="panel-heading relative">
                    <span class="icon-share2"></span>组织机构详细信息
                    <div class="align-right">
                        <a class="text-decoration" ui-sref="super-admin.org-tree-detail({id:userData.id, orgId:organization.id})">查看组织结构<span class="icon-pencil"></span></a>
                        <a class="text-decoration" ui-sref="super-admin.org-edit({id:userData.id, orgId:organization.id})">编辑<span class="icon-pencil"></span></a>
                        <a class="text-decoration" href="javascript:void(0)" data-ng-click="delete(organization.id)">删除<span class="icon-pencil"></span></a>
                        <a class="text-decoration" ui-sref="super-admin.org-list({id:userData.id})">返回<span class="icon-forward"></span></a>
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="col-left">名字</span>
                            <span class="col-right">{{organization.name}}</span>
                        </li>
                        <li class="list-group-item">
                            <span class="col-left">编号</span>
                            <span>{{organization.code}}</span>
                        </li>
                        <li class="list-group-item">
                            <span class="col-left">电话</span>
                            <span class="col-right">{{organization.phone}}</span>
                        </li>
                        <li class="list-group-item">
                            <span class="col-left">传真</span>
                            <span class="col-right">{{organization.fax}}</span>
                        </li>
                        <li class="list-group-item">
                            <span class="col-left">地址</span>
                            <span class="col-right">{{organization.address}}</span>
                        </li>
                        <li class="list-group-item">
                            <span class="col-left">网址</span>
                            <span class="col-right"><a href="{{organization.webSite}}" title="官方网站">{{organization.webSite}}</a></span>
                        </li>
                        <li class="list-group-item">
                            <span class="col-left">创建者</span>
                            <span class="col-right">{{organization.operId}}</span>
                        </li>
                        <li class="list-group-item">
                            <span class="col-left">创建日期</span>
                            <span class="col-right">{{organization.createDate}}</span>
                        </li>
                        <li class="list-group-item">
                            <span class="col-left">简介</span>
                            <span class="col-right">{{organization.description}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- To be filled part End-->
    </div>
    <!-- right slide bar-->
    <div ng-include="'views/rightbar.html'"></div>
</div>