<div class="row">
    <!-- left slide bar-->
    <div ng-include="'views/leftbar.html'"></div>
    <div class="mid-content col-sm-8">
        <div ng-include="'views/notice.html'"></div>
        <!-- To be filled part Start-->
        <div class="common-container" data-ng-controller="OrganizationManagerCtrl">
            <div class="panel panel-default no-border">
                <div class="panel-heading relative">
                    <h3 class="panel-title">
                        <div>当前组织：{{organization.name}}</div>
                        <div class="align-right">
                            <a class="text-decoration" ui-sref="super-admin.org-list({id:userData.id})">返回列表<span class="icon-forward"></span></a>
                        </div>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-10">
                        <treecontrol class="tree-light"
                                     tree-model="dataTree"
                                     options="treeOptions"
                                     selected-node="selectedNode">
                            {{node.name}}
                        </treecontrol>
                    </div>
                </div>
                <!-- panel -->
            </div>
            <!-- panel -->
            <div class="modal" id="add">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">新建文件夹</h4>
                        </div>
                        <div class="modal-body" style="min-height: 120px;">
                            <div class="form-group">
                                <label for="newName" class="col-sm-4 control-label" style="top: 8px;">请输入文件夹名称</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="newName" placeholder="文件夹名称">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary">确认</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- To be filled part End-->
    </div>
    <!-- right slide bar-->
    <div ng-include="'views/rightbar.html'"></div>
</div>