<div class="row">
    <!-- left slide bar-->
    <div ng-include="'views/leftbar.html'"></div>
    <div class="mid-content col-sm-8">
        <div ng-include="'views/notice.html'"></div>
        <!-- To be filled part Start-->
        <div class="" data-ng-controller="PermissionCtrl">
            <div class="panel panel-default">
                <div class="panel-heading"><span class="icon-share2"></span>权限列表</div>
                <div class="panel-body">
                    <table st-table="permissions" st-safe-src="rowCollection" class="table table-striped table-hover ">
                        <thead>
                        <tr>
                            <th colspan="6">
                                <label>全局搜索:</label>
                                <input st-search placeholder="请输入要搜索的关键字符" class="input-sm form-control" type="search"/>
                            </th>
                        </tr>
                        <tr>
                            <th></th>
                            <th st-sort="name" class="col-sm-3 pointer">名字</th>
                            <th st-sort="code" class="col-sm-2 pointer">编号</th>
                            <th st-sort="operId" class="col-sm-7 pointer">创建者</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in permissions">
                            <td><input type="checkbox" ng-model="item.selected"/></td>
                            <td><a ui-sref="super-admin.permission-detail({id:userData.id, permissionId:item.id})" title="详细信息">{{item.name}}</a></td>
                            <td>{{item.code}}</td>
                            <td>{{item.operId}}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                                    <input type="checkbox" ng-model="selectedAll" ng-click="checkAll()"/>
                                    <a href="javascript:void(0)" data-ng-click="deleteItems()">删除</a>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                    <div class="align-right"><a href="javascript:void(0)">查看全部<span class="icon-forward"></span></a></div>

                </div>
            </div>
        </div>
        <!-- To be filled part End-->
    </div>
    <!-- right slide bar-->
    <div ng-include="'views/rightbar.html'"></div>
</div>