<div class="row">
    <!-- left slide bar-->
    <div ng-include="'views/leftbar.html'"></div>
    <div class="mid-content col-sm-8">
        <div ng-include="'views/notice.html'"></div>
        <!-- To be filled part Start-->
        <div class="" data-ng-controller="UserCtrl">
            <div class="panel panel-default">
                <div class="panel-heading relative">
                    <span class="icon-share2"></span>用户信息变更
                    <div class="align-right">
                        <a class="text-decoration" ui-sref="super-admin.user-list({id:userData.id})">返回<span class="icon-forward"></span></a>
                    </div>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" id="editForm">
                        <fieldset class="col-sm-12">
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">名字</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-sm" id="name" ng-model="user.name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="loginId" class="col-sm-2 control-label">登录账号</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-sm" id="loginId" ng-model="user.loginId" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-sm-2 control-label">电子邮件</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-sm" id="email" ng-model="user.email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="positionId" class="col-sm-2 control-label">职位</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-sm" id="positionId" ng-model="user.positionId">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="employDate" class="col-sm-2 control-label">入校日期</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-sm" id="employDate" ng-model="user.employDate">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="orgId" class="col-sm-2 control-label">所属组织</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-sm" id="orgId" ng-model="user.orgId">
                                </div>
                            </div>
                            <div class="col-sm-12 col-sm-offset-2">
                                <button type="submit" class="btn btn-primary" data-ng-click="update(user.id)">保存</button>
                                <!--<button type="reset" class="btn btn-default">重置</button>-->
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <!-- To be filled part End-->
    </div>
    <!-- right slide bar-->
    <div ng-include="'views/rightbar.html'"></div>
</div>