<div class="row">
    <!-- left slide bar-->
    <div ng-include="'views/leftbar.html'"></div>
    <div class="mid-content col-sm-8">
        <div ng-include="'views/notice.html'"></div>
        <!-- To be filled part Start-->
        <div class="common-container" data-ng-controller="CourseManagerCtrl">
            <div class="panel panel-default no-border">
                <div class="panel-heading relative">
                    <span class="icon-share2"></span>课程管理
                    <div class="align-right">
                        <a class="text-decoration" ui-sref="teacher.course-add({id:userData.id})">添加课程<span class="icon-pencil"></span></a>
                    </div>
                </div>
                <div class="panel-body">
                    <table st-table="teacherCourses" st-safe-src="rowCollection" class="table table-striped table-hover ">
                        <thead>
                        <tr>
                            <th colspan="6">
                                <label>全局搜索:</label>
                                <input st-search placeholder="请输入要搜索的关键字符" class="input-sm form-control" type="search"/>
                            </th>
                        </tr>
                        <tr>
                            <th st-sort="name" class="col-sm-4">课程</th>
                            <th class="col-sm-4">学年</th>
                            <th class="col-sm-2">学期</th>
                            <th class="col-sm-2">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in teacherCourses">
                            <td><a ui-sref="teacher.student-course({id:userData.id, teacherCourseId:item.id})" title="详细信息">{{item.course.name}}</a></td>
                            <td>{{item.grade}}</td>
                            <td>{{item.term | termMap}}</td>
                            <td><a href="javascript:void(0)" data-ng-click="deleteTeacherCourse(item.id)" title="删除">删除</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- To be filled part End-->
    </div>
    <!-- right slide bar-->
    <div ng-include="'views/rightbar.html'"></div>
</div>