<div class="common-container">
    <div class="panel panel-info no-border">
        <div class="panel-heading">
            <h3 class="panel-title">课程管理</h3>
        </div>
        <div class="panel-body">
            <div class="stu-header">
                <div><span>指导老师：</span><span>XXX</span></div>
                <div><span>学生人数：</span><span>20</span></div>
                <div><a href="javascript:void(0)">修改科任老师</a></div>
            </div>
            <div class="stu-msg">
                <div class="alert alert-dismissible alert-info">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>说明 </strong>对应位置信息如右，勾选显示学生IES登入账号可显示帐户信息，拖曳学生方块到指定组别
                </div>
            </div>
            <div class="stu-list">
                <select size="5" multiple ng-model="available" ng-options="client as client.name for client in availableclients" style="width: 200px"></select>
                <input id="moveright" type="button" value="Add Client" ng-click="moveItems(available, availableclients,selectedclients)" />
                <input id="moverightall" type="button" value="Add All Clients" ng-click="moveAll(availableclients,selectedclients)" />
                <input id="move left" type="button" value="Remove Client" ng-click="moveItem(selected[0], selectedclients,availableclients)" />
                <input id="moveleftall" type="button" value="Remove All Clients" ng-click="moveAll(selectedclients,availableclients)" />

                <label for="sclients">Selected Clients</label>
                <select size="5" multiple ng-model="selected" ng-options="client as client.name for client in selectedclients" style="width: 200px"></select>
                <div>Selected Clients: {{selectedclients}}</div>
                <div>Available Clients: {{availableclients}}</div>
                <div>Selected: {{selected}}</div>
                <div>Available: {{available}}</div>
            </div>
            <!-- stu-list end-->
        </div>
    </div>
</div>