<div class="common-container video-page" ng-controller="VideoHomeCtrl as controller">
    <div class="panel panel-default no-border">
        <div class="panel-heading">
            <h3 class="panel-title">公共视频资源</h3>
        </div>
        <div class="panel-body">
            <section class="row">
                <div class="col-sm-3">
                    <article class="template">
                        <header ui-sref="teacher.videodetail">
                            <img src="images/video-thumb.jpg" class="img-responsive"/>
                            <div  class="album-options">
                                <a href="javascript:void(0)"> 五单元练习第3题 </a>
                            </div>
                        </header>
                        <div class="album-info clearfix">
                            <div class="album-info-left">
                                <p>类型：wmv</p>
                                <p>日期：2014-05-04 17:24:59</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-sm-3">
                    <article class="template">
                        <header ui-sref="teacher.videodetail">
                            <img src="images/video-thumb.jpg" class="img-responsive"/>
                            <div  class="album-options">
                                <a href="javascript:void(0)"> 五单元练习第3题 </a>
                            </div>
                        </header>
                        <div class="album-info clearfix">
                            <div class="album-info-left">
                                <p>类型：wmv</p>
                                <p>日期：2014-05-04 17:24:59</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-sm-3">
                    <article class="template">
                        <header ui-sref="teacher.videodetail">
                            <img src="images/video-thumb.jpg" class="img-responsive"/>
                            <div  class="album-options">
                                <a href="javascript:void(0)"> 五单元练习第3题 </a>
                            </div>
                        </header>
                        <div class="album-info clearfix">
                            <div class="album-info-left">
                                <p>类型：wmv</p>
                                <p>日期：2014-05-04 17:24:59</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-sm-3">
                    <article class="template">
                        <header ui-sref="teacher.videodetail">
                            <img src="images/video-thumb.jpg" class="img-responsive"/>
                            <div  class="album-options">
                                <a href="javascript:void(0)"> 五单元练习第3题 </a>
                            </div>
                        </header>
                        <div class="album-info clearfix">
                            <div class="album-info-left">
                                <p>类型：wmv</p>
                                <p>日期：2014-05-04 17:24:59</p>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
        </div>
    </div>
    <div class="panel panel-default no-border">
        <div class="panel-heading">
            <h3 class="panel-title">个人视频资源</h3>
        </div>
        <div class="panel-body">
            <section class="row">
                <div class="col-sm-3">
                    <article class="template">
                        <header ui-sref="teacher.videodetail">
                            <img src="images/video-thumb.jpg" class="img-responsive"/>
                            <div  class="album-options">
                                <a href="javascript:void(0)"> 五单元练习第3题 </a>
                            </div>
                        </header>
                        <div class="album-info clearfix">
                            <div class="album-info-left">
                                <p>类型：wmv</p>
                                <p>日期：2014-05-04 17:24:59</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-sm-3">
                    <article class="template">
                        <header ui-sref="teacher.videodetail">
                            <img src="images/video-thumb.jpg" class="img-responsive"/>
                            <div  class="album-options">
                                <a href="javascript:void(0)"> 五单元练习第3题 </a>
                            </div>
                        </header>
                        <div class="album-info clearfix">
                            <div class="album-info-left">
                                <p>类型：wmv</p>
                                <p>日期：2014-05-04 17:24:59</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-sm-3">
                    <article class="template">
                        <header ui-sref="teacher.videodetail">
                            <img src="images/video-thumb.jpg" class="img-responsive"/>
                            <div  class="album-options">
                                <a href="javascript:void(0)"> 五单元练习第3题 </a>
                            </div>
                        </header>
                        <div class="album-info clearfix">
                            <div class="album-info-left">
                                <p>类型：wmv</p>
                                <p>日期：2014-05-04 17:24:59</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-sm-3">
                    <article class="template">
                        <header ui-sref="teacher.videodetail">
                            <img src="images/video-thumb.jpg" class="img-responsive"/>
                            <div  class="album-options">
                                <a href="javascript:void(0)"> 五单元练习第3题 </a>
                            </div>
                        </header>
                        <div class="album-info clearfix">
                            <div class="album-info-left">
                                <p>类型：wmv</p>
                                <p>日期：2014-05-04 17:24:59</p>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
        </div>
    </div>
</div>