<div class="row">
    <!-- left slide bar-->
    <div ng-include="'views/leftbar.html'"></div>
    <div class="mid-content col-sm-8">
        <div ng-include="'views/notice.html'"></div>
        <!-- To be filled part Start-->
        <div data-ng-controller="TeacherHomeCtrl">
            <div class="panel panel-default">
                <div class="panel-heading"><span class="icon-share2"></span>系统功能总览</div>
                <div class="panel-body">
                    <h1>系统功能总览</h1>

                    <div class="align-right"><a href="javascript:void(0)">查看全部<span class="icon-forward"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- To be filled part End-->
    </div>
    <!-- right slide bar-->
    <div ng-include="'views/rightbar.html'"></div>
</div>